/* 定义变量 */
/************边框线颜色************/
/*大盒子边框线*/
/*表头边框线*/
/*表格内容边框线*/
/*输入框边框线*/
/*投诉边框线*/
/*主诉记录item边框线*/
/**************字体颜色************/
/*图标颜色*/
/*常用字体颜色*/
/*按钮字体颜色*/
/*主诉记录字体颜色*/
/***********背景色************/
/*表格头部背景颜色*/
/*投诉盒子背景*/
/*按钮背景绿色*/
/*激活按钮颜色*/
/*按钮背景蓝色*/
/*鼠标悬停按钮背景颜色*/
/*输入框禁用状态颜色*/
.history-record {
  height: 100%;
  /*头部标题*/
  /*表格内容*/
}
.history-record .title {
  height: 36px;
  line-height: 36px;
  color: #000;
  background-color: #f2f2f2;
  padding: 0 11px;
  overflow: hidden;
  border-top: 1px solid #ced0da;
  font-size: 12px;
  border-bottom: 1px solid #dadbe0;
}
.history-record .title h5 {
  font-weight: 700;
}
.history-record .history-table-wrapper {
  height: calc(100% - 36px);
  overflow-y: auto;
}
.history-record .history-table-wrapper .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding: 0 11px;
  border-bottom: 1px solid #e6eaee;
  cursor: pointer;
  color: #7a8794;
}
.history-record .history-table-wrapper .row .diagnosis {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.history-record .history-table-wrapper .row .name {
  font-size: 12px;
}
.history-record .history-table-wrapper .row .time {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  text-align: right;
  font-size: 12px;
}
