.patient-info .info-wrapper {
  align-items: center;
  /* 性别*/
  /*编辑患者信息*/
}
.patient-info .info-wrapper .el-input .el-input__inner {
  height: 32px;
}
.patient-info .info-wrapper .el-input__inner {
  border-radius: 4px;
}
.patient-info .info-wrapper .el-input.is-disabled .el-input__inner {
  color: #000;
}
.patient-info .info-wrapper .el-select .el-input__inner {
  width: 78px;
  border-radius: 4px;
}
.patient-info .info-wrapper .edit-info-wrapper {
  position: relative;
  /*弹窗盒子*/
}
.patient-info .info-wrapper .edit-info-wrapper i.icon-lianxiren1 {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  padding: 5px;
  font-size: 22px;
  line-height: 19px;
  text-align: center;
  border: 1px #eee solid;
  border-radius: 4px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info {
  position: absolute;
  top: 40px;
  width: 334px;
  background-color: #fff;
  border: 1px solid #ced0da;
  padding: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);
  color: #7a8794;
  z-index: 9;
  /*头部*/
  /*门诊*/
  /*标签按钮*/
  /*个人信息*/
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .info-top {
  align-items: center;
  justify-content: space-between;
  height: 28px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .info-top .info-name {
  font-size: 16px;
  color: #000;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .info-tow .info-tow-item {
  font-size: 12px;
  align-items: center;
  height: 25px;
  margin-right: 20px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .info-tow .info-tow-item span:nth-child(1) {
  margin-right: 10px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .info-tow .info-tow-item span:nth-child(2) {
  color: #000;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper {
  margin-top: 5px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .btn {
  cursor: pointer;
  float: left;
  position: relative;
  height: 22px;
  line-height: 20px;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 8px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .tag-btn {
  position: relative;
  padding: 0 8px;
  border-radius: 12px;
  color: #08a446;
  border: 1px solid #e3fced;
  background-color: #e3fced;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .tag-btn i.icon-shanchu {
  display: none;
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 20px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .tag-btn:hover i.icon-shanchu {
  display: inline-block;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn {
  position: relative;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn span.add {
  padding: 0 18px;
  border: 1px #eee solid;
  border-radius: 12px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn span.add:hover {
  border: 1px #608cf3 solid;
  color: #608cf3;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn .tooltipt-wrapper {
  border: 1px red solid;
  padding: 0 12px 15px;
  width: 320px;
  height: 300px;
  overflow-y: auto;
  position: fixed;
  top: 200px;
  right: 150px;
  z-index: 2011;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #b7b9c2;
  -webkit-box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.06);
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn .tooltipt-wrapper .tooltipt-content {
  margin-top: 15px;
  /*标题*/
  /*标签*/
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn .tooltipt-wrapper .tooltipt-content .title h4 {
  margin-right: 10px;
  color: #000;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn .tooltipt-wrapper .tooltipt-content .title .icon-wenhao {
  color: #ddd;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn .tooltipt-wrapper .tooltipt-content .tag-wrapper {
  overflow: hidden;
  /*标签选中激活样式*/
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn .tooltipt-wrapper .tooltipt-content .tag-wrapper .tag-item {
  color: #96a4b3;
  float: left;
  padding: 1px 10px;
  margin-top: 8px;
  margin-right: 5px;
  border: 1px solid #e6eaee;
  background-color: #f5f7fb;
  color: #7a8794;
  border-radius: 12px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn .tooltipt-wrapper .tooltipt-content .tag-wrapper .tag-item:hover {
  border: 1px #0eba52 solid;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .tag-btn-wrapper .add-btn-wrapper .add-btn .tooltipt-wrapper .tooltipt-content .tag-wrapper .tag-item-active {
  background: #0eba52 !important;
  color: #fff !important;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper {
  /*共有样式*/
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .row {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e6eaee;
  font-size: 14px;
  line-height: 28px;
  color: #000;
  padding: 4px 0;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .row span:nth-child(1) {
  color: #7a8794;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-true-wrapper {
  /*编辑资料按钮*/
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-true-wrapper .btn-bj {
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  padding: 12px 0;
  background: #007aff;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-true-wrapper .btn-bj:hover {
  background: #3e97f6;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row {
  /*共有样式*/
  /*年龄输入框*/
  /*生日输入框*/
  /*身份证输入框*/
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .input_inner {
  border: 1px #ddd solid;
  height: 28px;
  width: 109px;
  text-align: center;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .age-input-wrapper span {
  display: inline-block;
  width: 30px;
  text-align: center;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .age-input-wrapper input {
  width: 45px;
  padding: 3px 6px;
  text-align: center;
  border: 1px #ddd solid;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .birthday-input-wrapper {
  position: relative;
  width: 238px;
  /*日历*/
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .birthday-input-wrapper i.icon-rili {
  cursor: pointer;
  position: absolute;
  left: 10px;
  color: #7a8794;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .birthday-input-wrapper .birthday-input {
  width: 100%;
  border: 1px #ddd solid;
  height: 28px;
  padding: 3px 0px 3px 35px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .birthday-input-wrapper .calendar-wrapper {
  position: absolute;
  top: 33px;
  left: -44px;
  z-index: 99;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .birthday-input-wrapper .calendar-wrapper .calendar {
  min-width: 345px;
  box-shadow: 0 0 1px 1px #ddd;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .birthday-input-wrapper .calendar-wrapper .el-calendar .el-calendar-table thead th {
  padding: 5px 0;
  color: #606266;
  font-weight: 400;
  text-align: center;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .birthday-input-wrapper .calendar-wrapper .el-calendar .el-calendar-table .el-calendar-day {
  box-sizing: border-box;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .ID-input,
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .personal-info-false .row .address-input {
  width: 238px;
  border: 1px #ddd solid;
  height: 28px;
  padding: 3px 0px 3px 10px;
  border-radius: 0;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .btn-wrapper {
  margin-top: 10px;
}
.patient-info .info-wrapper .edit-info-wrapper .edit-info .personal-info-wrapper .personal-info-false-wrapper .btn-wrapper .el-button {
  flex: 0.8;
}
/*修改下拉选择框的样式*/
.patient-info .edit-info-wrapper .el-select .el-input__inner {
  width: 238px;
  height: 32px;
}
.el-input__inner {
  border-radius: 0;
}
.el-input__icon {
  line-height: 33px;
}
