/*共有样式*/
/* 定义变量 */
/************边框线颜色************/
/*大盒子边框线*/
/*表头边框线*/
/*表格内容边框线*/
/*输入框边框线*/
/*投诉边框线*/
/*主诉记录item边框线*/
/**************字体颜色************/
/*图标颜色*/
/*常用字体颜色*/
/*按钮字体颜色*/
/*主诉记录字体颜色*/
/***********背景色************/
/*表格头部背景颜色*/
/*投诉盒子背景*/
/*按钮背景绿色*/
/*激活按钮颜色*/
/*按钮背景蓝色*/
/*鼠标悬停按钮背景颜色*/
/*输入框禁用状态颜色*/
.table .table-wrapper .row {
  position: relative;
  height: 48px;
  padding: 0 16px 0 12px;
  cursor: pointer;
  border-bottom: 1px solid #eff3f6;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  /*图片样式*/
}
.table .table-wrapper .row .img-wrapper {
  position: relative;
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  border-radius: 3px;
  overflow: hidden;
}
.table .table-wrapper .row .img-wrapper img {
  width: 100%;
}
.table .table-wrapper .row .date-time {
  max-width: 93px;
  font-size: 12px;
}
.table .table-wrapper .row .status {
  width: 44px;
  max-width: 44px;
  min-width: 44px;
  text-align: right;
  font-size: 12px;
  color: #96a4b3;
}
.table .table-wrapper .row .patient-name {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  padding: 4px 8px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-all;
}
