/* 定义变量 */
/************边框线颜色************/
/*大盒子边框线*/
/*表头边框线*/
/*表格内容边框线*/
/*输入框边框线*/
/*投诉边框线*/
/*主诉记录item边框线*/
/*蓝色按钮边框颜色*/
/*表头边框线颜色*/
/**************字体颜色************/
/*图标颜色*/
/*常用字体颜色*/
/*字体颜色*/
/*按钮字体颜色*/
/*主诉记录字体颜色*/
/*字体颜色*/
/***********背景色************/
/*表格头部背景颜色*/
/*投诉盒子背景*/
/*按钮背景绿色*/
/*激活按钮颜色*/
/*按钮背景蓝色*/
/*鼠标悬停按钮背景颜色*/
/*输入框禁用状态颜色*/
/*遮罩层背景色*/
/*鼠标悬浮时表格内容背景色*/
.apply-wrapper {
  padding: 0 16px 16px;
  font-size: 14px;
  /*头部*/
  /*表格内容*/
  /*底部分页*/
}
.apply-wrapper .apply-header {
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 64px;
  /*右侧*/
}
.apply-wrapper .apply-header .header-right {
  /*弹窗*/
}
.apply-wrapper .apply-header .header-right .add-final .final-popper {
  font-size: 14px;
  /*头部*/
  /*内容*/
  /*按钮*/
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-header {
  height: 40px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #e6eaee;
  background-color: #eff1f5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-left: 24px;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-header h4 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body {
  padding: 16px 24px 0px;
  width: 1210px;
  min-height: 644px;
  height: 644px;
  /*行*/
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px dashed #ced0da;
  align-items: center;
  /*右侧表格*/
  /*右侧发票*/
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item label {
  width: 72px;
  color: #7a8794;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*选择按钮*/
  /*表格*/
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .check-btn {
  cursor: pointer;
  background: #fff;
  color: #007aff;
  margin-bottom: 8px;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table {
  border: 1px solid #e6eaee;
  /*统计*/
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table ul > li {
  padding: 0 6px;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item1 {
  width: 15.9574%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item2 {
  width: 5.31915%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item3 {
  width: 13.2979%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item4 {
  width: 10.6383%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item5 {
  width: 5.31915%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item6 {
  text-align: right;
  width: 7.97872%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item7 {
  text-align: right;
  width: 7.97872%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item8 {
  text-align: right;
  width: 7.97872%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item9 {
  text-align: center;
  width: 21.2766%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item10 {
  width: 4.25532%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .table-header {
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #96a4b3;
  background: #f5f7fb;
  border-bottom: 1px solid #e6eaee;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .row {
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dadbe0;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .row:hover {
  background: #e9eff8;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table ul > li {
  padding: 0 6px;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item1 {
  width: 15.9574%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item2 {
  width: 5.31915%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item3 {
  width: 13.2979%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item4 {
  width: 10.6383%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item5 {
  width: 5.31915%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item6 {
  text-align: right;
  width: 7.97872%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item7 {
  text-align: right;
  width: 7.97872%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item8 {
  text-align: right;
  width: 7.97872%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item9 {
  text-align: center;
  width: 21.2766%;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item10 {
  width: 4.25532%;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .item10 i.icon-del {
  display: none;
  color: #7a8794;
  font-size: 32px;
  background: transparent;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .table-header {
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #96a4b3;
  background: #f5f7fb;
  border-bottom: 1px solid #e6eaee;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .row {
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dadbe0;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .row:hover {
  background: #e9eff8;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .row:hover .item10 i.icon-del {
  display: inline;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .table-wrapper .table .calc {
  border-bottom: 0;
  font-size: 14px;
  color: #7a8794;
  text-align: right;
  padding-right: 30px;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .associated-invoices {
  flex-wrap: wrap;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*内容*/
  /*添加按钮*/
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .associated-invoices .invoice-wrapper {
  width: 150px;
  border: 1px solid #ced0da;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .associated-invoices .invoice-wrapper .invoice-content {
  color: #7a8794;
  font-size: 12px;
  padding: 8px;
  height: 54px;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .associated-invoices .invoice-wrapper .invoice-footer {
  border-top: 1px solid #e6eaee;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 8px;
  height: 30px;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .associated-invoices .invoice-wrapper .invoice-footer .bj {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  color: #007aff;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .associated-invoices .invoice-wrapper .invoice-footer .del {
  margin-left: 8px;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  color: #f33;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-body .settlement-item .associated-invoices .add-invoice {
  border: 1px solid #ced0da;
  height: 86px;
  width: 150px;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #8d9aa8;
  font-size: 12px;
}
.apply-wrapper .apply-header .header-right .add-final .final-popper .popper-footer {
  justify-content: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  height: auto;
  padding: 14px 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #e6eaee;
}
.apply-wrapper .apply-body ul > li {
  padding: 0 6px;
}
.apply-wrapper .apply-body .item1 {
  width: 14.5455%;
}
.apply-wrapper .apply-body .item2 {
  text-align: center;
  width: 7.27273%;
}
.apply-wrapper .apply-body .item3 {
  width: 14.5455%;
}
.apply-wrapper .apply-body .item4 {
  text-align: right;
  width: 9.09091%;
}
.apply-wrapper .apply-body .item5 {
  text-align: right;
  width: 9.09091%;
}
.apply-wrapper .apply-body .item6 {
  text-align: right;
  width: 9.09091%;
}
.apply-wrapper .apply-body .item7 {
  text-align: center;
  width: 9.09091%;
}
.apply-wrapper .apply-body .item8 {
  text-align: center;
  width: 9.09091%;
}
.apply-wrapper .apply-body .item9 {
  text-align: center;
  width: 9.09091%;
}
.apply-wrapper .apply-body .item10 {
  text-align: center;
  width: 9.09091%;
}
.apply-wrapper .apply-body .table-header {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #f5f7fb;
  color: #96a4b3;
  border-top: 1px solid #e6eaee;
  border-bottom: 1px solid #e6eaee;
}
.apply-wrapper .apply-body .row {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dadbe0;
}
.apply-wrapper .apply-footer {
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 16px;
}
