.address .distpicker-address-wrapper {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
}
.address .distpicker-address-wrapper select {
  flex: 1;
  padding: 0;
  width: 79px;
  height: 28px;
}
