/* 定义变量 */
/************边框线颜色************/
/*大盒子边框线*/
/*表头边框线*/
/*表格内容边框线*/
/*输入框边框线*/
/*投诉边框线*/
/*主诉记录item边框线*/
/*蓝色按钮边框颜色*/
/**************字体颜色************/
/*图标颜色*/
/*常用字体颜色*/
/*字体颜色*/
/*按钮字体颜色*/
/*主诉记录字体颜色*/
/***********背景色************/
/*表格头部背景颜色*/
/*投诉盒子背景*/
/*按钮背景绿色*/
/*激活按钮颜色*/
/*按钮背景蓝色*/
/*鼠标悬停按钮背景颜色*/
/*输入框禁用状态颜色*/
/*遮罩层背景色*/
/*鼠标悬浮时表格内容背景色*/
.calculate-wrapper {
  padding: 0 16px 16px;
  /*头部*/
  /*表格*/
}
.calculate-wrapper .calculate-header {
  height: 64px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  /*右侧*/
}
.calculate-wrapper .calculate-header .right-btn {
  /**********全景盘点弹窗***********/
  /*********临时盘点弹窗********/
}
.calculate-wrapper .calculate-header .right-btn i.icon-upload {
  cursor: pointer;
  margin-left: 8px;
  color: #007aff;
  display: inline-block;
  height: 30px;
  border-radius: 4px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ced0da;
}
.calculate-wrapper .calculate-header .right-btn i.icon-upload:hover {
  background: #d2e5f6;
  border: 1px solid #007aff;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper {
  min-width: 360px;
  /*头部*/
  /*内容*/
  /*底部按钮*/
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-header {
  padding-left: 24px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 41px;
  border-bottom: 1px solid #e6eaee;
  background-color: #eff1f5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-header h4 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body {
  padding: 0px 24px;
  width: 700px;
  height: 343px;
  color: #000;
  font-size: 14px;
  overflow-y: auto;
  overflow-y: overlay;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-step-wrapper {
  height: 70px;
  font-size: 14px;
  line-height: 22px;
  color: #7a8794;
  border-bottom: 1px dashed #e6eaee;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-step-wrapper .is-active {
  color: #08a446;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-step-wrapper i.icon-youjiantou {
  margin: 0 16px;
  color: #ced0da;
  font-size: 14px;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-content-wrapper {
  position: relative;
  margin: 40px auto 20px;
  width: 260px;
  text-align: left;
  /*1.下载全量盘点表*/
  /*2.上传全量盘点表*/
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-content-wrapper .download-item .item {
  margin-bottom: 28px;
  /*下载弹窗*/
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-content-wrapper .download-item .item .download-wrapper .download-popper {
  min-width: 360px;
  /*头部*/
  /*内容*/
  /*底部*/
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-content-wrapper .download-item .item .download-wrapper .download-popper .download-header {
  height: 41px;
  -ms-align-items: center;
  -webkit-align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6eaee;
  background-color: #eff1f5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-left: 24px;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-content-wrapper .download-item .item .download-wrapper .download-popper .download-header h4 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-content-wrapper .download-item .item .download-wrapper .download-popper .download-body {
  padding: 24px;
  width: 400px;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-content-wrapper .download-item .item .download-wrapper .download-popper .download-body .item {
  margin-bottom: 24px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-content-wrapper .download-item .item .download-wrapper .download-popper .download-footer {
  height: 61px;
  padding: 0 15px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #e6eaee;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-content-wrapper .download-item .item .txt {
  color: #7a8794;
  line-height: 20px;
  margin-top: 4px;
  font-size: 12px;
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .popper-body .check-content-wrapper .upload-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.calculate-wrapper .calculate-header .right-btn .full-popper-wrapper .full-popper .footer-wrapper {
  padding: 0 24px;
  align-items: center;
  height: 61px;
  justify-content: flex-end;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #e6eaee;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper {
  min-width: 360px;
  /*头部*/
  /*内容*/
  /*底部按钮*/
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-header {
  padding-left: 24px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 41px;
  border-bottom: 1px solid #e6eaee;
  background-color: #eff1f5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-header h4 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body {
  font-size: 14px;
  padding: 0px 24px;
  height: 567px;
  min-height: 567px;
  width: 1210px;
  /*表格*/
  /*输入框*/
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .describe {
  align-items: center;
  height: 64px;
  max-height: 64px;
  min-height: 64px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .describe input {
  border: 1px solid #ced0da;
  height: 32px;
  border-radius: 4px;
  width: 300px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .describe label {
  font-size: 14px;
  color: #7a8794;
  white-space: nowrap;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item1 {
  width: 106px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item3 {
  padding-left: 16px;
  width: 76px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item4 {
  padding-right: 16px;
  width: 70px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item5 {
  padding-right: 16px;
  width: 136px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item6 {
  padding-right: 16px;
  width: 78px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item7 {
  padding-left: 16px;
  width: 120px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item8 {
  text-align: left;
  width: 160px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item8 input {
  border: 1px solid #ced0da;
  width: 50px;
  height: 32px;
  margin-right: -1px;
  text-align: center;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item8 span.unit {
  display: inline-block;
  width: 25px;
  height: 32px;
  background: #eff1f5;
  text-align: center;
  line-height: 32px;
  margin-right: 8px;
  border: 1px solid #ced0da;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item9 {
  text-align: right;
  width: 92px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .item10 {
  width: 32px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  padding: 0 8px;
  border-bottom: 1px solid #e6eaee;
  cursor: pointer;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .row:hover {
  background: #e9eff8;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .table .table-header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
  color: #96a4b3;
  font-weight: 700;
  padding: 0 8px;
  border-bottom: 1px solid #e6eaee;
  border-top: 1px solid #e6eaee;
  background-color: #f5f7fb;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .input-wrapper {
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .input-wrapper .left {
  position: relative;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .input-wrapper .left input {
  width: 200px;
  height: 32px;
  border-radius: 4px;
  padding-left: 28px;
  border: 1px solid #ced0da;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .popper-body .input-wrapper .left i.icon-jia {
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 8px;
  color: #7a8794;
}
.calculate-wrapper .calculate-header .right-btn .temporary-popper-wrapper .temporary-popper .footer-wrapper {
  padding: 0 24px;
  align-items: center;
  height: 61px;
  justify-content: flex-end;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #e6eaee;
}
.calculate-wrapper .calculate-body {
  font-size: 14px;
}
.calculate-wrapper .calculate-body ul > li {
  padding: 0 6px;
}
.calculate-wrapper .calculate-body .row {
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dadbe0;
}
.calculate-wrapper .calculate-body .row:hover {
  background: #e9eff8;
}
.calculate-wrapper .calculate-body .item1 {
  width: 20.8817%;
}
.calculate-wrapper .calculate-body .item2 {
  width: 18.5615%;
}
.calculate-wrapper .calculate-body .item3 {
  text-align: right;
  width: 9.28074%;
}
.calculate-wrapper .calculate-body .item4 {
  text-align: right;
  width: 10.4408%;
}
.calculate-wrapper .calculate-body .item5 {
  text-align: right;
  padding-right: 20px;
  width: 10.4408%;
}
.calculate-wrapper .calculate-body .item6 {
  text-align: right;
  padding-right: 20px;
  width: 10.4408%;
}
.calculate-wrapper .calculate-body .item7 {
  padding-left: 70px;
  width: 11.6009%;
}
.calculate-wrapper .calculate-body .item8 {
  text-align: center;
  width: 8.35267%;
}
.calculate-wrapper .calculate-body .table-header {
  color: #96a4b3;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #f5f7fb;
  border-top: 1px solid #e6eaee;
  border-bottom: 1px solid #e6eaee;
}
