/*共有样式*/
// @import "../Common/Reset/Common.less";
/*收费页面样式*/
.charge {
  height: 100%;
  /*左侧*/
  .aside-left-wrapper {
    /*搜索框*/
    .search-wrapper {
      align-items: center;
      height: 48px;
      width: 100%;
      padding: 0 8px;
      background-color: #f2f2f2;
      border-bottom: 1px solid #dadbe0;
      border-radius: 3px 3px 0 0;
      button {
        margin-left: 8px;
        background: @color_14f16c;
        height: 32px;
        color: #fff;
        border: 0;
        &:hover {
          background: @color_2dd670;
        }
      }
    }
    /*标签页*/
    .tabs-wrapper {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      background-color: #f5f7fb;
      padding: 0 8px 0 12px;
      border-bottom: 1px solid #dadbe0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 36px;
      line-height: 36px;
    }
    /*门诊表格内容*/
    .table-wrapper {
      height: calc(67% - 84px);
      overflow-y: auto;
      .tip {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        text-align: center;
        color: #96a4b3;
      }
    }
    /*历史记录表格内容*/
    .history {
      height: 33%;
    }
  }
  /*中间*/
  .main-wrapper {
    /*头部*/
    .top-header-wrapper {
      height: 49px;
      padding: 0 24px;
      border-bottom: 1px solid #ced0da;
      background-color: #f2f2f2;
      .buttons-wrapper {
        .amount {
          font-size: 20px;
          color: #f93;
          margin-right: 24px;
        }
        > button {
          margin-right: 12px;
        }
        .is-disabled {
          background: #e6eaee;
          color: #7a8794;
          border: 1px solid #c1c9d0;
          cursor: not-allowed;
        }
      }
    }
    /*内容*/
    .main-content {
      padding: 15px 24px 10px 24px;
      /*添加输入框*/
      .add-input-wrapper {
        margin-top: 16px;
      }
      /*表单*/
      .table-wrapper {
        margin-top: 8px;

        border: 1px solid #ced0da;
        border-radius: 3px;
        /*表头*/
        ul.th {
          background-color: #f5f7fb;
          padding-left: 12px;
          padding-right: 16px;
          height: 40px;
          color: #8493a4;
        }
        /*表内容*/
        .table-body {
          ul.td {
            height: 40px;
            border-top: 1px dashed #e6eaee;
            padding-left: 12px;
            padding-right: 16px;
            font-size: 14px;
          }
        }
        .item1 {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          h5 {
            font-weight: 700;
            color: #000;
          }
        }
        .item2 {
          width: 92px;
          min-width: 92px;
          max-width: 92px;
          padding-left: 12px;
          text-align: right;
          padding-right: 6px;
        }
        .item3 {
          width: 106px;
          min-width: 106px;
          max-width: 106px;
          padding-left: 32px;
        }
        .item4 {
          padding-right: 8px;
          width: 96px;
          min-width: 96px;
          max-width: 96px;
          text-align: right;
          padding-left: 16px;
        }
      }
    }
  }
  /*右侧*/
  .aside-right-wrapper {
  }
}
