.workbench {
  height: 100%;
}
.workbench .workbench-wrapper {
  /* 右侧样式 */
  height: 100%;
}
.workbench .workbench-wrapper .el-container {
  height: 100%;
  /*右侧内容*/
  /*左侧内容*/
}
.workbench .workbench-wrapper .el-container .el-main {
  height: 100%;
  padding: 0;
  width: 0;
  border-radius: 3px;
  color: #333;
  text-align: center;
  overflow-y: auto;
  /* 卡片样式 */
  /* 上半部分：经营状况 */
  /*下半部分：排班信息*/
}
.workbench .workbench-wrapper .el-container .el-main .card {
  background-color: #fff;
  border: 1px solid #ced0da;
  border-radius: 3px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper {
  margin-bottom: 12px;
  /* 头部：人物、时间、汇总*/
  /* 标题：start*/
  /* 经营概况*/
  /* 可视化饼状图*/
  /* 今日看板*/
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header {
  margin-bottom: 32px;
  /* 姓名、时间 */
  /* 汇总数据样式:start */
  /* end */
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .greetings {
  margin-top: 40px;
  height: 24px;
  margin-bottom: 14px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .greetings .user,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .greetings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .greetings .user .user,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .greetings .user {
  font-size: 16px;
  font-weight: 500;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .greetings .user .data,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .greetings .data {
  margin-left: 15px;
  font-size: 12px;
  color: #96a4b3;
  line-height: 12px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos {
  width: 942px;
  max-height: 104px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 16px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* 共有样式 */
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos .item {
  width: 144px;
  height: 46px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px;
  border-radius: 3px;
  border: 1px solid #ced0da;
  margin-right: 12px;
  margin-bottom: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos .item .count {
  font-size: 20px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos .item .color-f93 {
  color: #ff9933;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos .item .color-005ED9 {
  color: #005ed9;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos .item:not(:nth-child(1)):hover {
  background-color: #eee;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos .total-item {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  background-color: #3ec172;
  color: #fff;
  border: none;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos .total-item div:nth-child(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .overview-header .todos .total-item div:nth-child(1) img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title .text {
  font-size: 18px;
  height: 32px;
  line-height: 35px;
  font-weight: 700;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title .filter-wrapper,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title ul {
  margin-left: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title .filter-wrapper .selected,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title ul .selected {
  font-weight: 700;
  color: #007aff;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title .filter-wrapper li,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title ul li {
  cursor: pointer;
  padding: 0 12px;
  color: #7a8794;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title .filter-wrapper li.calendar-wrapper,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title ul li.calendar-wrapper {
  position: relative;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title .filter-wrapper li.calendar-wrapper .calendar,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title ul li.calendar-wrapper .calendar {
  position: absolute;
  z-index: 99;
  min-width: 513px;
  top: 20px;
  left: 20px;
  box-shadow: 0 0 1px 1px #ddd;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title .filter-wrapper li.calendar-wrapper .el-calendar .el-calendar-table thead th,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title ul li.calendar-wrapper .el-calendar .el-calendar-table thead th {
  padding: 5px 0;
  color: #606266;
  font-weight: 400;
  text-align: center;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title .filter-wrapper li.calendar-wrapper .el-calendar .el-calendar-table .el-calendar-day,
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .title ul li.calendar-wrapper .el-calendar .el-calendar-table .el-calendar-day {
  box-sizing: border-box;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .view-content .view-item-row:nth-child(1) {
  border-bottom: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .view-content .view-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .view-content .view-item-row li:nth-child(1) {
  font-size: 16px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .view-content .view-item-row li > p:nth-child(1) {
  font-size: 28px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .view-content .view-item-row li > p:nth-child(2) {
  line-height: 14px;
  font-size: 14px;
  color: #7a8794;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .view-content .view-item-row li.btn {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eff3f6;
  color: #7a8794;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .view-content .view-item-row li:nth-child(1) {
  display: flex;
  align-items: center;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .view-content .view-item-row li:nth-child(1) .icon-shoufei {
  font-size: 30px;
  color: #e08c0c;
  margin: 0 10px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .view-content .view-item-row li:nth-child(1) .icon-zongkeliuliang {
  color: #1499d6;
  font-size: 45px;
  margin-right: 3px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .my-echart {
  display: flex;
  padding-top: 20px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .my-echart .my-echart1 {
  flex: 1;
  height: 250px;
  border-right: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .my-echart .my-echart2 {
  flex: 1;
  height: 250px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board {
  padding: 30px 0 15px;
  margin-top: 20px;
  border-top: #eee 1px solid;
  /*header*/
  /* main */
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .title-bar {
  height: 40px;
  line-height: 40px;
  justify-content: space-between;
  /* 左侧内容 */
  /* 右侧内容*/
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .title-bar .title-bar-left h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-right: 20px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .title-bar .title-bar-left .search {
  position: relative;
  height: 32px;
  line-height: 32px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .title-bar .title-bar-left .search .icon-soushuo {
  position: absolute;
  left: 10px;
  margin-right: 10px;
  color: #666;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .title-bar .title-bar-left .search input {
  padding-left: 30px;
  height: 100%;
  border: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .title-bar .title-bar-left .search input:hover {
  border: #005ed9 1px solid;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .title-bar .title-bar-left .search input:focus {
  border: #005ed9 1px solid;
  outline: solid 1px #8db7ec;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .title-bar .title-bar-right span {
  padding: 8px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .title-bar .title-bar-right span.btn-item {
  background: #bdd2ee;
  border-radius: 5px;
  cursor: pointer;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .title-bar .title-bar-right span.btn-item:hover {
  background: #88b4ee;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content {
  margin-top: 10px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul {
  border: 1px solid #eee;
  min-height: 200px;
  /* 无数据默认显示*/
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul .default-not {
  height: 200px;
  align-items: center;
  justify-content: center;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul .default-not .icon-rizhiguanli {
  font-size: 25px;
  margin-right: 10px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul .patient-item-header {
  background: #eee;
  color: #888;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li {
  height: 35px;
  line-height: 35px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span {
  text-align: center;
  display: inline-block;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(1) {
  width: 14%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(2) {
  width: 9%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(3) {
  width: 10%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(4) {
  width: 9%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(5) {
  width: 8%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(6) {
  width: 14%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(7) {
  width: 7%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(8) {
  width: 7%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(9) {
  width: 7%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(10) {
  width: 7%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li span:nth-child(11) {
  width: 7%;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content ul li:not(:first-child) {
  border-bottom: 1px solid #eee;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content .patient-count {
  display: inline-block;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
}
.workbench .workbench-wrapper .el-container .el-main .profit-wrapper .patient-bulletin-board .patient-content .patient-count span {
  font-weight: 700;
  padding: 0 10px;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper {
  /* 标题*/
  /* main*/
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper h3 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 20px;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content {
  position: relative;
  border-right: 0;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header {
  /*标签*/
  /* 切换时间*/
  /* 表格头部*/
  /* 表格内容 */
  /*分页*/
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .tag-wrapper {
  background: #f5f7fb;
  font-size: 14px;
  color: #7a8794;
  align-items: center;
  border-right: 1px #eee solid;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
  justify-content: space-between;
  /*班次管理*/
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .tag-wrapper .tag-row {
  /*切换选择样式*/
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .tag-wrapper .tag-row .tag-item {
  display: inline-block;
  padding: 8px 10px;
  border-bottom: solid 1px #eee;
  border-right: solid 1px #eee;
  border-left: 1px #eee solid;
  cursor: pointer;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .tag-wrapper .tag-row .tag-item-active {
  background: #ffffff;
  color: #007aff;
  border-bottom: 1px solid transparent;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .tag-wrapper .setting {
  color: #007aff;
  margin-right: 20px;
  cursor: pointer;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .tag-wrapper .setting .el-drawer .el-drawer__header {
  color: #fff;
  font-size: 20px;
  padding: 20px 10px;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .tag-wrapper .setting .el-drawer .el-drawer__body {
  padding: 10px;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .tag-wrapper .setting .el-drawer .el-drawer__body .el-table-row {
  min-width: 456px !important;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .switch-time-wrapper {
  position: relative;
  justify-content: center;
  height: 48px;
  align-items: center;
  border-bottom: #eee solid 1px;
  border-right: 1px #eee solid;
  border-left: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .switch-time-wrapper .switch-center .switch-left,
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .switch-time-wrapper .switch-center .switch-right {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 2px;
  border: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .switch-time-wrapper .switch-center .switch-left:hover,
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .switch-time-wrapper .switch-center .switch-right:hover {
  background: #eee;
  border: 1px #007aff solid;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .switch-time-wrapper .switch-center span:nth-child(2) {
  padding: 0px 10px;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .switch-time-wrapper .copy-last-week {
  position: absolute;
  padding: 6px 10px;
  border: 1px #eee solid;
  right: 10px;
  border-radius: 3px;
  color: #007aff;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .switch-time-wrapper .copy-last-week:hover {
  background: #d1e4e9;
  border: 1px #007aff solid;
  cursor: pointer;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-header {
  height: 40px;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-header li {
  width: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 40px;
  line-height: 40px;
  border-left: 1px #eee solid;
  border-bottom: 1px #eee solid;
  text-align: center;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-header li:last-child {
  border-right: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-header .select-clinin .el-input__inner {
  border-radius: 0;
  border: 0;
  padding: 0 10px;
  border-bottom: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-body {
  font-size: 14px;
  margin-bottom: 15px;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-body .employee-row {
  border-bottom: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-body .employee-row li {
  cursor: pointer;
  padding: 2px 8px;
  flex: 1;
  border-left: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-body .employee-row li .schedules-list-item__reference {
  justify-content: space-between;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-body .employee-row li .schedules-list-item__reference span {
  display: inline-block;
  height: 26px;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-body .employee-row li:hover {
  background: #f5f7fb;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-body .employee-row li:last-child {
  border-right: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .table-body .employee-row li:nth-child(1) {
  padding-top: 10px;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .pagination-wrapper .el-pagination {
  text-align: center;
}
.workbench .workbench-wrapper .el-container .el-main .scheduling-wrapper .scheduling-content .scheduling-header .pagination-wrapper .el-pagination .el-icon {
  text-align: center;
}
.workbench .workbench-wrapper .el-container .el-aside {
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
  width: 328px;
  margin-left: 4px;
  height: 100%;
  padding: 40px 12px 60px;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar {
  /*共有样式*/
  /*顶部标题*/
  /*客户端*/
  /*客服*/
  /*微信*/
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar h3 {
  text-align: center;
  margin: 0 16px 20px;
  font-size: 18px;
  line-height: 25px;
  color: #007aff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .card {
  border: 1px #eee solid;
  padding: 8px 12px 12px;
  background: #f5f7fb;
  border-radius: 5px;
  margin-bottom: 12px;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-header {
  cursor: pointer;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-header .title {
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px #eee solid;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-header i.iconfont {
  color: #007aff;
  font-size: 22px;
  margin-right: 10px;
  background: #fff;
  border-radius: 2px;
  padding: 2px;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-header .text {
  padding-top: 8px;
  color: #7a8794;
  font-size: 12px;
  max-height: 74px;
  line-height: 17px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-client {
  cursor: pointer;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-client .client {
  border-bottom: 1px #eee solid;
  padding-bottom: 10px;
  align-items: center;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-client .client span:nth-child(2) {
  margin: 0 10px;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-client .client i {
  font-size: 22px;
  color: #007aff;
  margin-right: 10px;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-client .client:nth-child(2) {
  padding-top: 10px;
  border: 0;
  padding-bottom: 0;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-client .client:nth-child(2) i.icon-xin {
  color: red;
  margin-left: 15px;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-kefu {
  cursor: pointer;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-kefu .dashboard-kefu-qq {
  border-bottom: 1px #eee solid;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-kefu .dashboard-kefu-qq i.icon-kefu1 {
  font-size: 22px;
  color: red;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-kefu .dashboard-kefu-qq .text h4 {
  font-size: 14px;
  color: #000;
  line-height: 14px;
  margin-bottom: 8px;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-kefu .dashboard-kefu-qq .text p {
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  color: #96a4b3;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-kefu .dashboard-kefu-qq .qq {
  color: #08a446;
  text-align: right;
  font-size: 12px;
  min-width: 60px;
  max-width: 60px;
  width: 60px;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-kefu .dashboard-kefu-iphone {
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-wx {
  cursor: pointer;
  align-items: center;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-wx i.icon-weixin {
  color: #08a446;
  font-size: 22px;
  margin-right: 10px;
}
.workbench .workbench-wrapper .el-container .el-aside .dashboard-sidebar .dashboard-wx .text p {
  font-size: 12px;
  padding-top: 3px;
  color: #96a4b3;
}
@media screen and (max-width: 1278px) {
  /*隐藏右侧的内容*/
  .workbench .workbench-wrapper .el-container .el-aside {
    display: none;
  }
  /*隐藏滚动条*/
  .workbench .workbench-wrapper .el-container .el-main::-webkit-scrollbar {
    display: none;
  }
}
