/* 定义变量 */
/************边框线颜色************/
/*大盒子边框线*/
/*表头边框线*/
/*表格内容边框线*/
/*输入框边框线*/
/*投诉边框线*/
/*主诉记录item边框线*/
/*蓝色按钮边框颜色*/
/*表头边框线颜色*/
/**************字体颜色************/
/*图标颜色*/
/*常用字体颜色*/
/*字体颜色*/
/*按钮字体颜色*/
/*主诉记录字体颜色*/
/*字体颜色*/
/***********背景色************/
/*表格头部背景颜色*/
/*投诉盒子背景*/
/*按钮背景绿色*/
/*激活按钮颜色*/
/*按钮背景蓝色*/
/*鼠标悬停按钮背景颜色*/
/*输入框禁用状态颜色*/
/*遮罩层背景色*/
/*鼠标悬浮时表格内容背景色*/
.batch-info {
  padding: 0 24px 24px;
  /*搜索框*/
  /*表格内容*/
  /*批次明显弹窗*/
  /*底部分页*/
}
.batch-info .search-wrapper {
  height: 64px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.batch-info .batch-table {
  max-height: 450px;
  min-height: 300px;
  overflow-y: auto;
}
.batch-info .batch-table .row {
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dadbe0;
}
.batch-info .batch-table .row:hover {
  background: #e9eff8;
}
.batch-info .batch-table ul > li {
  padding: 0 6px;
}
.batch-info .batch-table .item1 {
  width: 17.6028%;
}
.batch-info .batch-table .item2 {
  width: 11.6383%;
}
.batch-info .batch-table .item3 {
  width: 7.0922%;
}
.batch-info .batch-table .item4 {
  text-align: center;
  width: 14.1844%;
}
.batch-info .batch-table .item5 {
  text-align: center;
  width: 12.0567%;
}
.batch-info .batch-table .item6 {
  text-align: center;
  width: 12.0567%;
}
.batch-info .batch-table .itme7 {
  text-align: right;
  width: 7.0922%;
}
.batch-info .batch-table .item8 {
  text-align: right;
  width: 10.6383%;
}
.batch-info .batch-table .item9 {
  text-align: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.batch-info .batch-table .table-header {
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #96a4b3;
  background: #f5f7fb;
  border-top: 1px solid #e6eaee;
  border-bottom: 1px solid #e6eaee;
}
.batch-info .batch-popper .popper-header {
  height: 41px;
  padding-left: 24px;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #e6eaee;
  background-color: #eff1f5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.batch-info .batch-popper .popper-header h4 {
  font-size: 16px;
  font-weight: 700;
}
.batch-info .batch-popper .popper-body {
  width: 1000px;
  height: 587px;
}
.batch-info .batch-footer {
  height: 50px;
  margin-top: 16px;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
