.aside-right-wrapper {
  width: 290px;
  background-color: #fff;
  border: 1px solid #ced0da;
  border-radius: 3px 3px 0 0;
}
.app-wrappeer {
  width: 290px;
  min-width: 290px;
  max-width: 290px;
}
@media screen and (max-width: 1365px) and (min-width: 1280px) {
  .aside-right-wrapper {
    width: 270px;
    min-width: 270px;
    max-width: 270px;
  }
}
@media screen and (max-width: 1279px) {
  .aside-right-wrapper {
    display: none;
  }
}
