/* 定义变量 */
/************边框线颜色************/
/*大盒子边框线*/
/*表头边框线*/
/*表格内容边框线*/
/*输入框边框线*/
/*投诉边框线*/
/*主诉记录item边框线*/
/*蓝色按钮边框颜色*/
/*表头边框线颜色*/
/**************字体颜色************/
/*图标颜色*/
/*常用字体颜色*/
/*字体颜色*/
/*按钮字体颜色*/
/*主诉记录字体颜色*/
/*字体颜色*/
/***********背景色************/
/*表格头部背景颜色*/
/*投诉盒子背景*/
/*按钮背景绿色*/
/*激活按钮颜色*/
/*按钮背景蓝色*/
/*鼠标悬停按钮背景颜色*/
/*输入框禁用状态颜色*/
/*遮罩层背景色*/
/*鼠标悬浮时表格内容背景色*/
.inventory {
  height: 100%;
}
.inventory .main-wrapper {
  height: 100%;
  overflow-y: auto;
}
.inventory .main-wrapper .inventory-tabs-wrapper {
  /**********弹窗样式********/
  /*****删除样式***/
}
.inventory .main-wrapper .inventory-tabs-wrapper .popper-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
}
.inventory .main-wrapper .inventory-tabs-wrapper .popper-wrapper .mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2001;
}
.inventory .main-wrapper .inventory-tabs-wrapper .popper-wrapper .popper-style {
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 3000;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.inventory .main-wrapper .inventory-tabs-wrapper i.icon-del {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #96a4b3;
  font-weight: 700;
}
.inventory .main-wrapper .inventory-tabs-wrapper i.icon-del:hover {
  background: #fff;
}
