/* 定义变量 */
/************边框线颜色************/
/*大盒子边框线*/
/*表头边框线*/
/*表格内容边框线*/
/*输入框边框线*/
/*投诉边框线*/
/*主诉记录item边框线*/
/*蓝色按钮边框颜色*/
/*表头边框线颜色*/
/**************字体颜色************/
/*图标颜色*/
/*常用字体颜色*/
/*字体颜色*/
/*按钮字体颜色*/
/*主诉记录字体颜色*/
/*字体颜色*/
/***********背景色************/
/*表格头部背景颜色*/
/*投诉盒子背景*/
/*按钮背景绿色*/
/*激活按钮颜色*/
/*按钮背景蓝色*/
/*鼠标悬停按钮背景颜色*/
/*输入框禁用状态颜色*/
/*遮罩层背景色*/
/*鼠标悬浮时表格内容背景色*/
.footer-btn {
  color: #000;
}
.footer-btn button {
  cursor: pointer;
  float: right;
  height: 32px;
  padding: 0 20px ;
  line-height: 32px;
  margin-left: 10px;
}
.footer-btn button:nth-child(1) {
  color: #007aff;
}
.footer-btn button:nth-child(1):hover {
  background-color: #d2e5f6;
  border: 1px solid #007aff;
}
