/***************采购**********/
/* 定义变量 */
/************边框线颜色************/
/*大盒子边框线*/
/*表头边框线*/
/*表格内容边框线*/
/*输入框边框线*/
/*投诉边框线*/
/*主诉记录item边框线*/
/*蓝色按钮边框颜色*/
/**************字体颜色************/
/*图标颜色*/
/*常用字体颜色*/
/*字体颜色*/
/*按钮字体颜色*/
/*主诉记录字体颜色*/
/***********背景色************/
/*表格头部背景颜色*/
/*投诉盒子背景*/
/*按钮背景绿色*/
/*激活按钮颜色*/
/*按钮背景蓝色*/
/*鼠标悬停按钮背景颜色*/
/*输入框禁用状态颜色*/
/*遮罩层背景色*/
/*鼠标悬浮时表格内容背景色*/
.purchase-wrapper {
  padding: 0 16px 16px;
  /*头部*/
  /*表格*/
}
.purchase-wrapper .purchase-header-wrapper {
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  height: 64px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  /*左侧*/
  /*右侧*/
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-left .calendar-wrapper {
  position: relative;
  margin-right: 8px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-left .calendar-wrapper input {
  padding-left: 30px;
  height: 32px;
  border: 1px solid #ced0da;
  border-radius: 4px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-left .calendar-wrapper i.icon-rili {
  position: absolute;
  left: 8px;
  top: 8px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right {
  /*新增采购弹窗*/
  /*下载*/
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper {
  /*弹窗*/
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper > .button-small {
  color: #fff;
  border: 0;
  height: 32px;
  padding: 0 12px;
  margin-right: 8px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper > .button-small:hover {
  background-color: #2dd670;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content {
  min-width: 1162px;
  /*头部*/
  /*内容*/
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-header {
  height: 41px;
  padding: 0 10px 0 24px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #e6eaee;
  background-color: #eff1f5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-header h4 {
  font-weight: 700;
  font-size: 16px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body {
  font-size: 14px;
  padding: 0px 24px;
  height: 335px;
  min-height: 335px;
  /*表格*/
  /*输入框*/
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe {
  height: 64px;
  max-height: 64px;
  min-height: 64px;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right {
  /*弹窗*/
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .btn {
  cursor: pointer;
  font-size: 12px;
  background: #0eba52;
  color: #fff;
  height: 32px;
  padding: 1px 15px;
  text-align: center;
  border-radius: 4px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .btn:hover {
  background: #2dd670;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper {
  z-index: 3000;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .mask {
  z-index: 3001;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .popper-style {
  z-index: 3002;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .dialog {
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 360px;
  /*头部*/
  /*内容*/
  /*底部*/
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .dialog .dialog-header {
  padding: 12px 8px 12px 24px;
  text-align: left;
  border-bottom: 1px solid #e6eaee;
  background-color: #eff1f5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .dialog .dialog-header h4 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .dialog .dialog-body {
  height: 304px;
  overflow-y: auto;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .dialog .dialog-body .item1 {
  width: 216px;
  padding-left: 24px;
  padding-right: 8px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .dialog .dialog-body .item2 {
  width: 116px;
  padding-left: 8px;
  padding-right: 8px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .dialog .dialog-body .item3 {
  width: 128px;
  padding-left: 8px;
  padding-right: 8px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .dialog .dialog-body .item4 {
  width: 70px;
  color: #FF9933;
  text-align: right;
  padding-right: 8px;
  padding-left: 8px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .dialog .dialog-body .row {
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dadbe0;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .describe .right .dialog-wrapper .dialog .dialog-footer {
  -webkit-box-shadow: 6px 0 6px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 6px 0 6px 1px rgba(0, 0, 0, 0.15);
  padding: 14px 24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #e6eaee;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .row {
  padding: 0 8px;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid #e6eaee;
  cursor: pointer;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .row:hover {
  background: #e9eff8;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .row:hover .item10 > i.icon-del {
  display: inline;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item1 {
  width: 90px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item2 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item3 {
  padding-left: 26px;
  width: 150px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item4 {
  padding-left: 16px;
  width: 150px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item5 {
  text-align: right;
  padding-right: 12px;
  width: 80px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item6 {
  text-align: right;
  padding-right: 12px;
  width: 80px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item7 {
  text-align: right;
  padding-right: 10px;
  width: 120px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item8 {
  text-align: right;
  width: 70px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item9 {
  text-align: right;
  justify-content: flex-end;
  width: 110px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item9 input {
  text-align: center;
  width: 60px;
  height: 32px;
  border-radius: 0;
  border: 1px solid #ced0da;
  background-color: #fff;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item9 span.unit {
  display: inline-block;
  width: 30px;
  height: 32px;
  padding: 0 5px;
  background-color: #f5f7fb;
  border-radius: 0 2px 2px 0;
  border: 1px solid #ced0da;
  border-left: none;
  text-align: center;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item10 {
  width: 32px;
  text-align: right;
  cursor: pointer;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item10 i.icon-del {
  display: none;
  font-size: 16px;
  color: #96a4b3;
  border: 1px solid #ced0da;
  border-radius: 50%;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .item10 i.icon-del:hover {
  color: #2680f7;
  border: 1px solid #2680f7;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .table .table-header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
  font-weight: 700;
  color: #96a4b3;
  border-bottom: 1px solid #e6eaee;
  border-top: 1px solid #e6eaee;
  background-color: #f5f7fb;
  padding: 0 8px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .search-wrapper {
  position: relative;
  height: 64px;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .search-wrapper .left .search-input input {
  padding-left: 30px;
  width: 250px;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .add-popper-body .search-wrapper .left .search-input i.icon-jia {
  position: absolute;
  left: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #96a4b3;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .footer-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  height: auto;
  padding: 14px 24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #e6eaee;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right .add-purchaser-wrapper .add-popper-content .footer-wrapper .button-primary:hover {
  opacity: 0.8;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right i.icon-upload {
  cursor: pointer;
  margin-left: 8px;
  color: #007aff;
  display: inline-block;
  height: 30px;
  border-radius: 4px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ced0da;
}
.purchase-wrapper .purchase-header-wrapper .purchase-header-right i.icon-upload:hover {
  background: #d2e5f6;
  border: 1px solid #007aff;
}
.purchase-wrapper .purchase-table-wrapper {
  font-size: 14px;
}
.purchase-wrapper .purchase-table-wrapper .item1 {
  width: 16.6038%;
  padding: 0 6px;
}
.purchase-wrapper .purchase-table-wrapper .item2 {
  width: 9.43396%;
  padding: 0 6px;
}
.purchase-wrapper .purchase-table-wrapper .item3 {
  width: 11.3208%;
  padding: 0 6px;
}
.purchase-wrapper .purchase-table-wrapper .item4 {
  width: 13.2075%;
  padding: 0 6px;
}
.purchase-wrapper .purchase-table-wrapper .item5 {
  text-align: right;
  width: 8.67925%;
  padding: 0 6px;
}
.purchase-wrapper .purchase-table-wrapper .item6 {
  text-align: right;
  padding-right: 40px;
  padding-left: 6px;
  width: 8.67925%;
}
.purchase-wrapper .purchase-table-wrapper .item7 {
  padding-left: 80px;
  padding-right: 6px;
  width: 13.2075%;
}
.purchase-wrapper .purchase-table-wrapper .item8 {
  text-align: center;
  width: 9.43396%;
  padding: 0 6px;
}
.purchase-wrapper .purchase-table-wrapper .item9 {
  text-align: center;
  width: 9.43396%;
  padding: 0 6px;
}
.purchase-wrapper .purchase-table-wrapper .table-header {
  color: #96a4b3;
  line-height: 40px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #f5f7fb;
  border-top: 1px solid #e6eaee;
  border-bottom: 1px solid #e6eaee;
}
.purchase-wrapper .purchase-table-wrapper .row {
  cursor: pointer;
  min-height: 48px;
  height: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #dadbe0;
}
.purchase-wrapper .purchase-table-wrapper .row:hover {
  background: #e9eff8;
}
