/* 定义变量 */
/************边框线颜色************/
/*大盒子边框线*/
/*表头边框线*/
/*表格内容边框线*/
/*输入框边框线*/
/*投诉边框线*/
/**************字体颜色************/
/*图标颜色*/
/*常用字体颜色*/
/*按钮字体颜色*/
/***********背景色************/
/*表格头部背景颜色*/
/*投诉盒子背景*/
/*按钮背景绿色*/
/*按钮背景蓝色*/
/*鼠标悬停按钮背景颜色*/
/*输入框禁用状态颜色*/
.input-Money {
  position: relative;
}
.input-Money i.icon-qian {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 28px;
  color: #96a4b3;
}
.input-Money input {
  padding-left: 23px;
  height: 32px;
  border: 1px solid #ced0da;
  border-radius: 4px;
}
.input-Money input:disabled {
  background: #f5f7fa;
  cursor: not-allowed;
}
