/* 定义变量 */
/************边框线颜色************/
/*大盒子边框线*/
/*表头边框线*/
/*表格内容边框线*/
/*输入框边框线*/
/*投诉边框线*/
/*主诉记录item边框线*/
/*蓝色按钮边框颜色*/
/**************字体颜色************/
/*图标颜色*/
/*常用字体颜色*/
/*按钮字体颜色*/
/*主诉记录字体颜色*/
/***********背景色************/
/*表格头部背景颜色*/
/*投诉盒子背景*/
/*按钮背景绿色*/
/*激活按钮颜色*/
/*按钮背景蓝色*/
/*鼠标悬停按钮背景颜色*/
/*输入框禁用状态颜色*/
/*遮罩层背景色*/
.warnset {
  height: 100%;
}
.warnset .main-wrapper {
  /*头部*/
  /*内容*/
  /*按钮*/
}
.warnset .main-wrapper .warnset-header-title {
  align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #ced0da;
  padding: 0 24px;
  border-bottom: 1px solid #dadbe0;
  border-top: 1px solid #dadbe0;
  background-color: #f5f7fb;
}
.warnset .main-wrapper .warnset-header-title .el-page-header__left:hover {
  color: #007aff;
}
.warnset .main-wrapper .warnset-content-wrapper {
  padding: 24px;
}
.warnset .main-wrapper .warnset-content-wrapper .warnset-set-item:last-child {
  border-bottom: 1px solid #e6eaee;
}
.warnset .main-wrapper .warnset-content-wrapper .warnset-set-item {
  padding-bottom: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}
.warnset .main-wrapper .warnset-content-wrapper .warnset-set-item .set-name {
  font-size: 14px;
  color: #7a8794;
  width: 96px;
  min-width: 96px;
  max-width: 96px;
  padding-top: 8px;
}
.warnset .main-wrapper .warnset-content-wrapper .warnset-set-item .set-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.warnset .main-wrapper .warnset-content-wrapper .warnset-set-item .set-content .top input {
  width: 60px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border: 1px solid #ced0da;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 1;
  outline: none;
  padding: 3px 8px;
}
.warnset .main-wrapper .warnset-content-wrapper .warnset-set-item .set-content .bottom {
  color: #96a4b3;
  font-size: 12px;
  margin-top: 6px;
}
.warnset .main-wrapper .btn-wrapper {
  padding: 0 24px;
  /*内容改动时样式*/
}
.warnset .main-wrapper .btn-wrapper .button-small {
  margin-right: 15px;
  color: #007aff;
  border: 1px solid #c1c9d0;
  min-width: 90px;
  height: 32px;
  padding: 0 10px;
}
.warnset .main-wrapper .btn-wrapper .btn-qx:hover {
  border: 1px solid #007aff;
  background: #d2e5f6;
}
.warnset .main-wrapper .btn-wrapper .is-active {
  background: #007aff;
  color: #fff;
  border: 0;
}
.warnset .main-wrapper .btn-wrapper .is-disabled {
  background: #e6eaee;
  color: #7a8794;
  border: 1px solid #c1c9d0;
  cursor: not-allowed;
}
