.registered {
  height: 100%;
  /*内容头部*/
  /*主体内容*/
}
.registered .registered-header-wrapper {
  height: 48px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: #fff;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ced0da;
  /*头部左边*/
  /*头部右边*/
}
.registered .registered-header-wrapper .header-left {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /*事件切换*/
}
.registered .registered-header-wrapper .header-left h3 {
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
}
.registered .registered-header-wrapper .header-left .handle-bar {
  margin-left: 32px;
  /*共有样式*/
  /*激活样式*/
}
.registered .registered-header-wrapper .header-left .handle-bar .item {
  cursor: pointer;
  color: #96a4b3;
  padding: 5px 15px;
  border: 1px solid #ced0da;
}
.registered .registered-header-wrapper .header-left .handle-bar .item:hover {
  background-color: #e9f2fe;
}
.registered .registered-header-wrapper .header-left .handle-bar .selected {
  color: #005ed9;
  border: 1px solid #005ed9 !important;
  z-index: 1;
  background-color: #e9f2fe;
}
.registered .registered-header-wrapper .header-left .handle-bar .now {
  margin-right: -1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px solid transparent;
}
.registered .registered-header-wrapper .header-left .handle-bar .tomorrow {
  margin-right: -1px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.registered .registered-header-wrapper .header-left .handle-bar .calendar {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.registered .registered-header-wrapper .header-right button {
  margin-right: 16px;
  color: #005ed9;
}
.registered .registered-header-wrapper .header-right button:hover {
  background: #c5e3f0;
  border: 1px solid #005ed9;
}
.registered .registered-body-wrapper {
  height: calc(100% - 48px);
  background-color: #f7f8fa;
  /*左侧内容*/
  /*中间主要内容*/
}
.registered .registered-body-wrapper .body-aside-wrapper {
  width: 370px;
  height: 100%;
  border-left: 1px solid #ced0da;
  border-right: 1px solid #e6eaee;
  background: #fff;
  overflow-y: overlay;
  /*激活样式*/
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header {
  /*遮罩层*/
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: auto;
  margin: 0;
  z-index: 1992;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .cover-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #000;
  z-index: 1992;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered {
  position: absolute;
  left: 50%;
  top: 100px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 600px;
  z-index: 1994;
  /*头部内容*/
  /*主体内容*/
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .btn {
  padding: 14px 24px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .btn button {
  float: right;
  min-width: 90px;
  height: 32px;
  padding: 0 10px;
  line-height: 1;
  text-align: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #007aff;
  color: #fff;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  border: 0;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .btn button:hover {
  background: #479af1;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header {
  height: 40px;
  padding: 0 0 0 15px;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e6eaee;
  background-color: #eff1f5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header h3 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header .icon-left {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header .icon-left i.icon-del {
  font-size: 29px;
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
  border-top: 1px solid #e6eaee;
  border-bottom: 1px solid #e6eaee;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header .icon-left i.icon-del:hover {
  background-color: #fbfbfb;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header .icon-left .setting-wrapper {
  position: relative;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header .icon-left .setting-wrapper i.icon-shezhi {
  font-size: 17px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header .icon-left .setting-wrapper i.icon-shezhi:hover {
  color: #007aff;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header .icon-left .setting-wrapper .info-popup {
  position: absolute;
  top: 23px;
  left: -142px;
  width: 162px;
  padding: 16px 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  border: 1px solid #b7b9c2;
  z-index: 5;
  color: #7a8794;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header .icon-left .setting-wrapper .info-popup h5 {
  padding-left: 10px ;
  margin-bottom: 10px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header .icon-left .setting-wrapper .info-popup ul > li {
  height: 30px;
  padding-left: 25px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .top-header .iconfont {
  color: #96a4b3;
  margin-left: 8px;
  cursor: pointer;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper {
  color: #000;
  border-bottom: 1px solid #e6eaee;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px solid #e6eaee;
  padding: 24px;
  /*会员*/
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 28px;
  margin-bottom: 18px;
  /*年龄*/
  /*生日*/
  /*预诊*/
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .el-select,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .el-select {
  width: 200px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .labe,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .labe {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .labe i.icon-zhongdian,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .labe i.icon-zhongdian {
  color: #f93;
  margin-left: 4px;
  display: inline-block;
  font-family: SimSun;
  line-height: 1;
  font-size: 25px;
  margin-left: -5px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .input-box,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .input-box {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .input-box input,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .input-box input {
  width: 100%;
  border-radius: 4px;
  height: 28px;
  padding: 3px 8px;
  border: 1px solid #ddd;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .input-sex-box input,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .input-sex-box input {
  width: 45px;
  border-radius: 4px;
  height: 28px;
  padding: 3px 8px;
  border: 1px solid #ddd;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .input-sex-box span,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .input-sex-box span {
  padding: 0 5px;
  height: 28px;
  line-height: 28px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .input-birthday-box,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .input-birthday-box {
  position: relative;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .input-birthday-box i.icon,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .input-birthday-box i.icon {
  color: #96a4b3;
  position: absolute;
  top: 7px;
  left: 10px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .input-birthday-box input,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .input-birthday-box input {
  width: 100%;
  border-radius: 4px;
  height: 28px;
  padding: 3px 8px 3px 30px;
  border: 1px solid #ddd;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .input-yuzhen-box,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .input-yuzhen-box {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .row .input-yuzhen-box input,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .row .input-yuzhen-box input {
  width: 100%;
  border-radius: 4px;
  height: 28px;
  padding: 3px 8px;
  border: 1px solid #ddd;
  background-color: #fffdec;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper {
  margin-top: 20px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .title,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .title {
  font-size: 14px;
  color: #007aff;
  cursor: pointer;
  line-height: 16px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .title .search-coupons-wrapper,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .title .search-coupons-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1995;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons-cover,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #000;
  z-index: 1995;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons {
  position: fixed;
  left: 23%;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  z-index: 2000;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons .title-coupons,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons .title-coupons {
  position: relative;
  line-height: 1;
  height: 50px;
  line-height: 50px;
  padding: 0 10px 0 24px;
  text-align: left;
  border-bottom: 1px solid #e6eaee;
  background-color: #eff1f5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons .title-coupons i.icon-del,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons .title-coupons i.icon-del {
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 25px;
  color: #666;
  text-align: center;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons .title-coupons i.icon-del:hover,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons .title-coupons i.icon-del:hover {
  background: #fbfbfb;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons .title-coupons h3,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons .title-coupons h3 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons .search,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .title .search-coupons-wrapper .search-coupons .search {
  padding: 24px 24px 0px;
  height: 362px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .coupons-type,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .coupons-type {
  position: relative;
  color: #96a4b3;
  font-size: 12px;
  margin-top: 10px;
  border: 1px solid #eee;
  height: 44px;
  border-radius: 4px;
  padding: 0 10px;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  /*遮罩层*/
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .coupons-type:hover .cover-wrapper,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .coupons-type:hover .cover-wrapper {
  display: block;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .coupons-type .cover-wrapper,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .coupons-type .cover-wrapper {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 96;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .coupons-type .cover-wrapper .cover,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .coupons-type .cover-wrapper .cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 98;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .coupons-type .cover-wrapper i.icon-gai,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .coupons-type .cover-wrapper i.icon-gai {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  font-size: 25px;
  color: #fff;
  z-index: 101;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .total,
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .total {
  margin-top: 16px;
  text-align: right;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .left-content .coupons-wrapper .total span:nth-child(1),
.registered .registered-body-wrapper .body-aside-wrapper .body-header .add-registered-wrapper .add-registered .content-wrapper .right-content .coupons-wrapper .total span:nth-child(1) {
  font-size: 12px;
  margin-right: 10px;
}
.registered .registered-body-wrapper .body-aside-wrapper .body-header .button-small {
  color: #fff;
  background-color: #0eba52;
  border-color: hsla(0, 0%, 100%, 0.4);
}
.registered .registered-body-wrapper .body-aside-wrapper .is-selected {
  background-color: #00ace9;
  color: #fff;
}
.registered .registered-body-wrapper .body-aside-wrapper .is-selected .item-left span.item-i {
  color: #fff !important;
}
.registered .registered-body-wrapper .body-aside-wrapper .is-selected .item-left span.item-i > span {
  color: #fff !important;
}
.registered .registered-body-wrapper .body-aside-wrapper .item {
  cursor: pointer;
  width: 100%;
  height: 64px;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #eff3f6;
}
.registered .registered-body-wrapper .body-aside-wrapper .item .item-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.registered .registered-body-wrapper .body-aside-wrapper .item .item-left span:nth-child(1) {
  width: 92px;
  font-weight: 700;
}
.registered .registered-body-wrapper .body-aside-wrapper .item .item-left span.item-i {
  color: #7a8794;
  font-size: 12px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.registered .registered-body-wrapper .body-aside-wrapper .item .item-left span.item-i > span {
  margin-left: 3px;
  color: #000;
}
.registered .registered-body-wrapper .body-main-wrapper {
  margin-left: 16px;
  padding: 0 16px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  background: #fff;
  overflow-y: overlay;
  /*头部*/
  /*表格*/
}
.registered .registered-body-wrapper .body-main-wrapper .main-header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 48px;
  /*左侧内容*/
  /*右侧内容*/
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left {
  /*切换标签*/
  /*下拉选择*/
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left .tabs {
  /*激活样式*/
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left .tabs .is-selected {
  color: #005ed9;
  border: 1px solid #005ed9 !important;
  z-index: 1;
  background-color: #e9f2fe;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left .tabs .item {
  height: 30px;
  cursor: pointer;
  overflow: hidden;
  padding: 5px 15px;
  border: 1px solid #ddd;
  color: #96a4b3;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left .tabs .item:hover {
  background-color: #e9f2fe;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left .tabs .item + .item {
  margin-left: -1px;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left .tabs .item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left .tabs .item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left .address-wrapper {
  margin-left: 30px;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left .address-wrapper .el-input__inner {
  height: 30px;
  width: 160px;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-left .address-wrapper .el-input__icon {
  line-height: 30px;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-right {
  color: #7a8794;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-right .count {
  color: #000;
  font-weight: 700;
  padding: 0 8px 0 3px;
}
.registered .registered-body-wrapper .body-main-wrapper .main-header .header-right .total {
  font-weight: 700;
  color: #000;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper {
  border: 1px solid #e6eaee;
  margin-bottom: 10px;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .table-header {
  color: #96a4b3;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr:last-child {
  border-bottom: 0;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e6eaee;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr li {
  padding: 0 6px;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td0 {
  width: 3.37178%;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td1 {
  width: 13.3097%;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td2 {
  width: 4.88021%;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td3 {
  width: 13.6477%;
  text-align: center;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td4 {
  width: 7.9858%;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td5 {
  width: 7.9858%;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td6 {
  width: 12.7773%;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td7 {
  width: 7.9858%;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td8 {
  width: 7.9858%;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td9 {
  width: 10.6477%;
}
.registered .registered-body-wrapper .body-main-wrapper .table-wrapper .tr .td10 {
  width: 12.4224%;
}
